Join Two Excel Files

In [1]:
import pandas as pd

csv_1 = pd.read_csv("/Users/suraj/Downloads/Marvel Vs DC NEW.csv")
csv_2 = pd.read_csv("/Users/suraj/Downloads/comic_characters.csv")

csv_2

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
0,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616,Marvel
1,1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616,Marvel
2,2,John Malone,Secret,Bad,Blue,White,Male,Yes,15,"1985, January",New Earth,DC
3,3,"Samuel Bradley, Jr.",Public,Bad,Brown,Brown,Male,No,19,"2004, March",New Earth,DC
4,4,Hope Taya,Public,Bad,Brown,Black,Female,Yes,28,"1999, December",New Earth,DC
...,...,...,...,...,...,...,...,...,...,...,...,...
21139,21139,Winslow Schott,Public,Bad,Blue,Brown,Male,Yes,74,"1943, September",New Earth,DC
21140,21140,Jim Morita,Secret,Bad,Brown,Black,Male,Yes,4,"1967, January",Earth-616,Marvel
21141,21141,Janet Grant,Public,Good,Brown,Black,Female,Yes,1,"2007, December",Earth-616,Marvel
21142,21142,Miya Shimada,Secret,Good,Brown,Black,Female,Yes,46,"1984, May",New Earth,DC
21143,21143,Loria,Secret,Good,Green,Black,Female,No,6,"1994, December",New Earth,DC

In [3]:
csv_1.head(1)

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0

In [4]:
csv_2.head(1)

,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
0,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616,Marvel

In [5]:
import pandas as pd
import random

# Load the CSV files
csv_1 = pd.read_csv("/Users/suraj/Downloads/Marvel Vs DC NEW.csv")
csv_2 = pd.read_csv("/Users/suraj/Downloads/comic_characters.csv")

# Define a function to randomly assign 'Marvel' or 'DC' to each row
def random_universe():
    return random.choice(['Marvel', 'DC'])

# Apply the function to create the new 'Universe' column
csv_1['Universe'] = csv_1.apply(lambda row: random_universe(), axis=1)

# Display the updated DataFrame
print(csv_1.head())

# Save the updated CSV if needed
csv_1.to_csv("/Users/suraj/Downloads/Marvel_Vs_DC_NEW_with_Universe.csv", index=False)

   ID                              Movie      Year                     Genre  \
0   0                           Eternals     -2021    Action,Adventure,Drama
1   1                               Loki  (2021â€“ )  Action,Adventure,Fantasy
2   2  The Falcon and the Winter Soldier     -2021    Action,Adventure,Drama
3   3                        WandaVision     -2021       Action,Comedy,Drama
4   4            Spider-Man: No Way Home     -2021   Action,Adventure,Sci-Fi

   RunTime                                        Description  IMDB_Score  \
0        0  The saga of the Eternals, a race of immortal b...         0.0
1        0      A new Marvel chapter with Loki at its center.         0.0
2   50 min  Following the events of 'Avengers: Endgame,' S...         7.5
3  350 min  Blends the style of classic sitcoms with the M...         8.1
4        0       A continuation of Spider-Man: Far From Home.         0.0

  Universe
0   Marvel
1   Marvel
2       DC
3   Marvel
4       DC

In [6]:
csv_1.head(5)

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score,Universe
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel
1,1,Loki,(2021â€“ ),"Action,Adventure,Fantasy",0,A new Marvel chapter with Loki at its center.,0.0,Marvel
2,2,The Falcon and the Winter Soldier,-2021,"Action,Adventure,Drama",50 min,"Following the events of 'Avengers: Endgame,' S...",7.5,DC
3,3,WandaVision,-2021,"Action,Comedy,Drama",350 min,Blends the style of classic sitcoms with the M...,8.1,Marvel
4,4,Spider-Man: No Way Home,-2021,"Action,Adventure,Sci-Fi",0,A continuation of Spider-Man: Far From Home.,0.0,DC

In [7]:
csv_merge = pd.merge(csv_1, csv_2, on='Universe', how='inner')

In [8]:
csv_merge.head(5)

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score,Universe,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616
1,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616
2,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,8,Perkins,Public,Bad,Green,White,Female,Yes,1,"1964, October",Earth-616
3,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,9,Zuhn,Secret,Bad,White,Blond,Male,No,3,"2000, November",Earth-616
4,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,10,Azaziah,Secret,Bad,Blue,White,Male,Yes,4,"1980, April",Earth-616

In [10]:
avg_scorce = csv_merge.groupby('Universe')['IMDB_Score'].mean().reset_index()

avg_scorce

  Universe  IMDB_Score
0       DC    6.891784
1   Marvel    6.862649

In [11]:
csv_merge.loc[csv_merge['Universe'] == 'DC', 'IMDB_Score'] = 10

csv_merge.head(5)

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score,Universe,Id,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616
1,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616
2,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,8,Perkins,Public,Bad,Green,White,Female,Yes,1,"1964, October",Earth-616
3,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,9,Zuhn,Secret,Bad,White,Blond,Male,No,3,"2000, November",Earth-616
4,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0,Marvel,10,Azaziah,Secret,Bad,Blue,White,Male,Yes,4,"1980, April",Earth-616

In [12]:
avg_scorce = csv_merge.groupby('Universe')['IMDB_Score'].mean().reset_index()

avg_scorce

  Universe  IMDB_Score
0       DC   10.000000
1   Marvel    6.862649

In [13]:
csv_merge.to_csv("/Users/suraj/Downloads/merged_data.csv", index=False)

In [14]:
csv_merge.shape

(17809378, 19)

In [15]:
csv_merge.count()

ID                17809378
Movie             17809378
Year              17448223
Genre             17731281
RunTime           17809378
Description       17809378
IMDB_Score        17809378
Universe          17809378
Id                17809378
Name              17809378
Identity          17809378
Alignment         17809378
Eyes              17809378
Hair              17809378
Sex               17809378
Alive             17809378
Appearances       17809378
First_appeared    17809378
Planet            17809378
dtype: int64

In [16]:
csv_merge.shape

(17809378, 19)